/*

    ///////////////////////////////////////////////////////////////////////
    //                                                                   //
    //                  Program Name: Web Development                    //
    //                   Course Name: Intermediate PHP                   //
    //                         Batch: WDD7 - Jan 2020                    //
    //                    Instructor: Steve George                       //
    //   HTML5/CSS3 Capstone Project: Desktop stylesheet                 // 
    //                                                                   //
    //                  Submitted by: Anu Kulshrestha                    //
    //                                                                   //
    ///////////////////////////////////////////////////////////////////////
*/


/*
  _____            _    _                 _____  _____ _____    _____          _      
 |  __ \          | |  | |               / ____|/ ____/ ____|  / ____|        | |     
 | |  | | ___  ___| | _| |_ ___  _ __   | |    | (___| (___   | |     ___   __| | ___ 
 | |  | |/ _ \/ __| |/ / __/ _ \| '_ \  | |     \___ \\___ \  | |    / _ \ / _` |/ _ \
 | |__| |  __/\__ \   <| || (_) | |_) | | |____ ____) |___) | | |___| (_) | (_| |  __/
 |_____/ \___||___/_|\_\\__\___/| .__/   \_____|_____/_____/   \_____\___/ \__,_|\___|
                                | |                                                   
                                |_|                                                  

*/

/*Animation for Marking page table rows in Desktop view*/
@-webkit-keyframes mark_animation{  
  0%, 100% {
    background-color: #D1D06B;    
  }
  50%{
    background-color: #f8f8f8;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }   
}

@keyframes mark_animation{  
  0%, 100% {
    background-color: #D1D06B;    
  }
  50%{
    background-color: #f8f8f8;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }   
}


/*Viewport settings in CSS in Desktop view*/
body{
  font-family: 'Alegreya+Sans', sans-serif;
  font-size: 16px;
  margin: 0;   
  position: relative;    
  background-color: #626E60;
  margin-top: 174px;
}

/* *********************** Header of Desktop view ***********************  */

/*Header Settings in CSS in Desktop View*/
header{
  height: 174px;
  padding-top: 1px;
  box-sizing: border-box; 
  position: fixed;
  top: 0;
  left: 3px;
  z-index: 9999;
  background-color: #626E60;  
  width: 99.5%;
  color: #eee;
}

/*CSS for logo image*/
picture{  
  float: left;  
  border: 1px solid transparent;
}

/*CSS for heading/company name*/
h1{
  float: left;
  text-align: right;
  font-family: 'Charmonman', serif;
  font-weight: 700;
  font-size: 3em;    
  margin-bottom: 0;
}

/*CSS for anchor tag of h1*/
h1 a{
  text-decoration: none;
  color: #eeeeee;
}

/*CSS for h2 global setting*/
h2{
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;   
  /*color: rgba(150,05,05,1);*/
  color: #192231;
}

/*CSS for social media div container*/
header div#slink_image{
  float: right;
  margin-top: 10px;
  position: fixed;
  top:5px;
  right: 25px;
}

/*CSS for social media anchor tags*/
header a.social_mlinks{
  text-decoration: none;
}

/*CSS for social media images*/
header a.social_mlinks img{
  border-radius: 10px;   
  padding-right: 5px;  

}

/*CSS for message floating on header about timings of salon.*/
header div#head_msg{
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  box-sizing: border-box;
  color: #000;
  width: 28.5%;
  text-align: right;
  box-sizing: border-box;
  display: inline-block; 
  /*background-color: #ccc; */
  padding-right: 1%;
}

header div#login_div{
  position: fixed;
  top: 50px;
  right: 25px;
  color: #000;
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  box-sizing: border-box;
  color: #eee;
  width:30%;
  text-align: right;
  line-height: 1.6;
}

header div#login_div .login, header div#login_div .signup{
  text-decoration: none;
  color: #eee;
  font-size: 1.3em;
}

header div#login_div .login:hover, header div#login_div .signup:hover{
  text-decoration: underline;
  color: #000;  
}

#search_cart{
  vertical-align: bottom;
}

p#search_img{
  display: inline-block;  
  margin: 0;
  margin-top: 1%;  
  padding: 0;
  word-spacing: 0.1cm;
}

p#search_img a{
  text-decoration: none;
}

p#search_tag{
  margin: 1%;
  padding: 0;
  display: inline-block;  
  vertical-align: top;
}

header div#search_cart p#search_tag input[type="text"]{
  width: 145px;
  height: 20px;
  font-family: 'Alegreya+Sans', sans-serif;
  font-size: 16px;
  color: #000;
}

header div#header_nav{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; 
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width:99%;
  height: auto;
  position: fixed;
  top: 135px;   
  z-index: 9999;
  height: 36px;
  background-color: #eee;
  box-sizing: border-box;
}

header div#header_nav #nav_data{
  display: inline-block;
  width: 71.5%;  
  z-index: 9999;  
  /*background-color: #ccc;*/
  box-sizing: border-box;
}
/* *********************** Navigation of Desktop view ***********************  */

/*Navigation element settings in CSS in Desktop View*/
nav{        
  font-weight: 400;
  padding-top: 1px;  
  z-index: 9999;  
  width: 60.5%;
  left 5px;
  display: inline-block;  
  box-sizing: border-box;
}

nav#desktopnav{
  width: 99%;
  text-align: right;    
  box-sizing: border-box;
}

/*Navigation element unordered list CSS code*/
nav ul{
  padding: 0;
  margin: 0;
  margin-top: 1px;
  white-space: nowrap; 
}

/*Navigation element unordered list items of main navigation's CSS code*/
nav ul#main_navigation li.main_nav{
  list-style-type: none;
  display: inline-block; 
  position: relative;      
  padding-top: 7px;
  padding-bottom: 9px; 
  /*width: 130px;*/
}

/*Navigation element unordered list items of main navigation's anchor tag's CSS code*/
nav ul#main_navigation li.main_nav a{
  text-decoration: none;
  color: #000;
  padding: 6px 20px 6px 20px;   
  border: 2px solid transparent;
  font-weight: 600;
  transition: all .4s ease-in-out;
}

/* CSS rule declarations for hover on main menu elements of nav */            
nav ul#main_navigation li.main_nav a:hover{
  color: #000;  
  background: linear-gradient(#626E60, #eee);  
  border-radius: 10px;     
  border: 2px solid #000; 
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
}

/* CSS rule declarations for sub menu unordered list under main unordered list of nav */ 
nav ul#main_navigation li.sub_menu ul#sub_list{
  position: absolute;
  top: 31px;
  left: 0;        
  width: 180px;        
  display: none;
  max-height:0;
  text-align: left;   
  transition: max-height 500ms ease-in-out;        
}

/* CSS rule declarations for hover on unordered list under main unordered list of nav */ 
nav ul#main_navigation li.sub_menu:hover ul#sub_list{  
  color: #660505;      
  display: block;
  max-height: 450px;  
  z-index: 99999; 
}

/* CSS rule declarations for list items of unordered list under main unordered list of nav */
nav ul#main_navigation li.sub_menu ul#sub_list li{
  display: block;
  box-sizing: border-box; 
  margin: 4px;       
  background: linear-gradient(#fff,#E5E1E1);
  padding: 1px;  
  box-shadow: 2px 2px 8px rgba(0,0,0,0.8);  
}  

/* CSS rule declarations for hover on list items of unordered list under main unordered list of nav */
nav ul#main_navigation li.sub_menu ul#sub_list li:hover{
  border-radius: 6px;
  color: #660505;
}

/* CSS rule declarations for anchor tags of list items of unordered list under main unordered list of nav */
nav ul#main_navigation li.sub_menu ul#sub_list li a{
  display: block;
  padding-left: 1px;
  padding-bottom: 1px;
  padding-top: 2px;
  padding-right: 5px;   
  transition: all .3s ease-in-out;
  color: #000;
}

/* CSS rule declarations for hover on anchor tags of list items of unordered 
   list under main unordered list of nav */
nav ul#main_navigation li.sub_menu ul#sub_list li a:hover{
  height: 100%;
  width: 160.5px;  
  border-radius: 6px;  
}

/* CSS rule declarations for current page opened highlights */
nav .current_page{  
  border-radius: 10px; 
  background: linear-gradient(#626E60, #ccc);  
  color: #626E60;
  /*border: 2px solid #660505;*/
}

/* *********************** Section of Desktop view ***********************  */

/* CSS rule declarations for section element of website */
section{     
  width: 960px;
  margin: 0 auto;  
  box-sizing: border-box;           
  box-sizing: border-box;
  min-height: 1000px;  
  padding-top: 1px;   
  z-index: 0;
  background-image: url(../images/HomePicD.jpg);
  background-size: cover;
  background-color: #f5f5f5;
  /*box-shadow: 3px 4px 8px rgba(100,100,100,0.8);*/
  /*background-blend-mode: soft-light;*/
}

section.home{
  min-height: 650px;
}

.toggle{
  background-image: none;
}
/*Wrapper Settings in CSS in Desktop view*/
#page_content{  
   max-width: 100%;
}

div#webpage_path{  
  float: left; 
  margin-top: 5px;
  margin-left: 5px;
}

/* ********************** Home Page in desktop view *********************** */

/* CSS rule declarations for main div container of home page */
#main_container{
  padding-top: 1px;
  min-height: 650px;  
}

/* CSS rule declarations for div container for content other than background image */
#home_pic{
  width: 200px;
}

/* CSS rule declarations for image inside div container for content other than background image */
#home_pic img{  
  float: left;
  position: absolute;
  top: 35%;
  right: 20%;
}

/* CSS rule declarations for h2 inside div container for content other than background image */
#home_pic h2{
  padding: 0;
  font-size: 1.4em;
}

/* CSS rule declarations for anchor tag inside div container for content other than background image */
a#fordesktop{
  border: 3px solid #626E60;
  background-color: #f8f8f8;
  border-radius: 10px;
  /*background: linear-gradient(#ccc, #fff);*/
  text-align: center;
  width: 270px;
  height: 40px;    
  text-decoration: none;
  color: #333;
  font-family: 'Alegreya+Sans', sans-serif;  
  font-weight: 500;
  position: absolute;
  top: 50%;
  right: 23%;
  padding-top: 10px;  
  transition: all .2s ease-in-out;
}

/* CSS rule declarations for hover on anchor tag inside div container 
  for content other than background image */

a#fordesktop:hover{
  background: linear-gradient(#626E60, #eee);  
  color: #fff;
  border-radius: 10px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 3px solid #626E60;
}

/* CSS rule declarations for anchor tag inside modal box */
#serviceslist{
  text-decoration: none;
  color: #660505;
  font-weight: 500;
}

/* CSS rule declarations for mobile view anchor tag */
a#formobile{
  position: absolute;
  top: 530px;
  right: 50px;
}

/* putting a div to open the modal box on click of above link of the page. */
.bookappointment{  
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;  
  pointer-events: none;  
  transition: all .4s ease-in-out;
}

/* closing of the div when one clicks outside the div of modal box  */
.close_appointment{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  
  z-index: 105; 
  cursor: default;
}

/* message div container on modal box div */
.message{
  position: relative;
  width: 210px;
  background: linear-gradient(#ccc, #fff);
  margin: 20% auto; 
  border: 2px solid #fff;  
  box-shadow: 0 7px 14px rgba(0,0,0,0.5);
  padding: 25px 13px 10px 15px;
  z-index: 110;  
  transition: all .5s ease-in-out;
}

.message:hover{
  background: linear-gradient(#ccc, #eee);
  border: 2px solid #192231;
  border-radius: 10px;
}

/* closing button of the div when one clicks on the cross of the modal box */
.close_message{
  display: block;
  border-radius: 60%;
  font-size: 1.1em;
  background-color: #333;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 2px 7px 2px 7px;
  border: 2px solid #000;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,0.6);
  font-size: 0.9em;
  font-weight: 500;
  transition: all .1s ease-in-out;
}

.close_message:hover{
  background: radial-gradient(#d00,#660505);
  -webkit-transform: scale(1.1);  
  transform: scale(1.1);  
  font-size: 1em;  
}

/* CSS for a tag inside p tag having class italicised on modal box */
p.italicised a{
  font-weight: 500; 
}

/* CSS for main modal having id as open message for div to show and anchor tags to be clicked */
#open_message:target{
  opacity: 1;
  pointer-events: auto;
}

/* ********************** Services Page in desktop view *********************** */

/* Services page CSS code for main div */
#salon_services{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; 
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 25px;
  padding: 10px 20px;
  float: left;
  width: 90%;
  height: auto;
  font-family: 'Times New Roman', serif;
  font-weight: 700;  
  color: #192231;  
  perspective: 500px;
  perspective-origin: top left;
  border: 6px groove #626E60;
  /*border: 6px groove rgba(150,05,05,0.9);*/
  box-sizing: border-box;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7); 
  border-radius: 10px;
  background-color: #CCCBC6;
}

/* Services page CSS code for all div inside the main div */
#salon_services div.service_name{
  border: 2px solid #626E60;
  /*background: linear-gradient(#ccc, #fff);*/
  border-radius: 2px;
  height: auto;  
  /*opacity: 0.95;  */
  box-sizing: border-box;  
  /*margin: 0;  */
  /*font-size: 0.9em;*/
  width: 48%;
  transition: all .3s ease-in;
  margin: 8px; 
  margin-top: 5px;  
  margin-bottom: 5px;  
  /*opacity: 0.6;*/
  background-color: #f5f5f5;
  margin-top: 10px;
}

/* Services page CSS code for div with id facial inside the main div */
#salon_services div#facial{
  -webkit-transform: rotateY(25deg) skewY(10deg); 
  transform: rotateY(25deg) skewY(10deg); 
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);   
}

/* Services page CSS code for hover on div with id facial inside the main div */
#salon_services div#facial:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg);
  transform: rotateY(0deg) skewY(0deg);  
  cursor: default;    
  opacity: 1;
}

/* Services page CSS code for div with id waxing inside the main div */
#salon_services div#waxing{
  -webkit-transform: rotateY(15deg) skewY(8deg);
  transform: rotateY(15deg) skewY(8deg); 
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id waxing inside the main div */
#salon_services div#waxing:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg);
  transform: rotateY(0deg) skewY(0deg); 
  cursor: default;    
  opacity: 1;
}

/* Services page CSS code for div with id hairstyling inside the main div */
#salon_services div#hairstyling{
  -webkit-transform: rotateY(13deg) skewY(8deg);
  transform: rotateY(13deg) skewY(8deg);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id hairstyling inside the main div */
#salon_services div#hairstyling:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg);
  transform: rotateY(0deg) skewY(0deg);  
  cursor: default;    
  opacity: 1;
}

/* Services page CSS code for div with id threading inside the main div */
#salon_services div#threading{
  -webkit-transform: rotateY(25deg) skewY(9deg);
  transform: rotateY(25deg) skewY(9deg); 
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id threading inside the main div */
#salon_services div#threading:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg);
  transform: rotateY(0deg) skewY(0deg);  
  cursor: default;   
  opacity: 1;
}

/* Services page CSS code for div with id makeup inside the main div */
#salon_services div#makeup{
  -webkit-transform: rotateY(15deg) skewY(3deg);
  transform: rotateY(15deg) skewY(3deg);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id makeup inside the main div */
#salon_services div#makeup:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg); 
  transform: rotateY(0deg) skewY(0deg);   
  cursor: default;   
  opacity: 1;
}

/* Services page CSS code for div with id skincare inside the main div */
#salon_services div#skincare{
  -webkit-transform: rotateY(13deg) skewY(1deg);
  transform: rotateY(13deg) skewY(1deg);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id skincare inside the main div */
#salon_services div#skincare:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg); 
  transform: rotateY(0deg) skewY(0deg);   
  cursor: default;    
  opacity: 1;
}

/* Services page CSS code for making the first list as the heading in all div */
#salon_services div ul li:first-child{
  list-style-type: none;
}

#salon_services div.service_name img, 
#salon_services div.service_detail img
{
  float: left;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 8px;
  border-radius: 5px;
}

#salon_services div.service_name p{
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

strong{
  font-family: 'Charmonman', serif;
  color: #AF473C;
}

#salon_services div.service_name a{
  /*float: right;*/
}

.more_link{
  color: #000;
}

.more_link:hover{
  color: #660505;
}

section#increased_width{
    width:95%;
    left:2%;
}

#salon_services div.service_pagination{
  height: auto;  
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto; 
  margin-top: 2px;  
  margin-bottom: 2px;
  background-color: #f5f5f5;
  text-align: right;
}

#salon_services div.service_pagination a.pagination{
  display: inline-block;
  color: #AF473C;
  text-align: right;
  margin: 2px;
  font-size: 1.2em;
}

#salon_services div.service_pagination a.pagination:hover{
  color: #000;
}

#salon_services div.service_category{
  border: 2px solid #626E60;
  border-radius: 10px;
  height: auto;  
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto; 
  margin-top: 2px;  
  margin-bottom: 2px;
  background-color: #f5f5f5;
  text-align: center;
}

#salon_services div.service_category a.category{
  display: inline-block;
  text-decoration: none;
  color: #AF473C;
  border: 1px solid #626E60;
  margin: 2px;
  border-radius: 5px;
  padding: 3px;
  box-sizing: border-box;
  width: 12%;
}

#salon_services div.service_category a.category:hover{
  background-color: #ccc;
  color: #192231;
}

/* ********************** Service Details in desktop view ******************** */
/* Service Details page CSS code for detail div inside the main div */
#salon_services div.service_detail{
  clear:float;
  border: 2px solid #626E60;  
  border-radius: 10px;
  height: auto;   
  box-sizing: border-box;
  width: 98%;
  transition: all .3s ease-in;
  margin: 0 auto; 
  margin-top: 5px;  
  margin-bottom: 5px;
  background-color: #f5f5f5;
}

#salon_services div.service_detail p{
  line-height: 20pt;
}

h2#other{

 margin-top: 20px;
 padding-top: 20px;
}

#other_services{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; 
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 50px; 
  margin-bottom: 20px; 
  float: left;
  width: 90%;
  height: auto;
  font-family: 'Times New Roman', serif;
  font-weight: 700;  
  color: #192231;    
  box-sizing: border-box;  
  border-radius: 10px;
  background-color: #CCCBC6;
  text-align: center;
  border: 2px solid #626E60;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
}

#other_services div.service_name{
  border: 2px solid #626E60;
  width: 18%;
  box-sizing: border-box;
  margin: 0 auto; 
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

#other_services div.service_name img{
  border-radius: 5px;
  margin-top: 2px;
}

div.detail_links{
  float: left;  
  height: auto;  
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto; 
  margin-top: 5px; 
  margin-left:50px; 
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #CCCBC6;
  text-align: center;
}

#salon_services button.add_link{
  display: inline-block;
  color: #AF473C;    
  margin-right: 1%;
}

div.detail_links a.back_link{
  display: inline-block;
  color: #AF473C;    
}

/* **********************Appointment Cart page in desktop view*********************** */

div#cart_container{
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  text-align: right;
  width:90%;
  margin-left: 5%;
  box-sizing: border-box;
}

div#cart_container table{
  width:100%;
  box-sizing: border-box;
}

div#cart_container table#cost{
  width:40%;
  box-sizing: border-box;
  text-align: right;
  float: right;
}

div#cart_container table th{
  font-size: 1.2em;
}

div#cart_container table td{
  font-size: 1em;
}

button.cart_btn{
  padding: 10px;
  display: inline-block;
  width: 170px;
  background-color: #f8f8f8;
  color: #192231;
  border: 2px groove #626E60; 
  border-radius: 10px;     
  font-family: 'Alegreya+Sans', sans-serif;
  font-weight: 500;
  font-size: 1em;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 5px;
  cursor: pointer; 
}

div#cart_container a.continue_link{
  clear:both;
  display: inline-block;
  text-decoration: none;      
  padding: 8px;
  background-color: #f8f8f8;
  color: #192231;
  border: 2px groove #626E60;
  border-radius: 10px;  
  float: left;
  margin-left: 350px;  
  margin-top: 20px; 
  box-sizing: border-box;
  font-family: 'Alegreya+Sans', sans-serif;
  font-weight: 500;
  width:20%;
  text-align: center;
}

div#cart_container #card_details{
  box-sizing: border-box;
  clear:both;
  width:99%;  
  padding-top: 10px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;   
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

div#cart_container #card_details form{
  width:99%;
}
div#cart_container #card_details label{
  width: 150px;
  text-align: right;
  margin-top: 4px;
}


/* ******************************* Checkout Page in Desktop view **************************** */
div#checkout_page{
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  text-align: right;
  width:90%;
  margin-left: 5%;
  margin-top: 5%;
  box-sizing: border-box;
}

div#selected_cart_details{
  width: 99%;
  margin-top: 3%;
}

div#selected_cart_details table{
  width:100%;
  box-sizing: border-box;
}

div#selected_cart_details table th{
  font-size: 1.2em;
}

div#selected_cart_details table td{
  font-size: 1em;
}

div#selected_cart_details table#final_cost{
  width:40%;
  box-sizing: border-box;
  text-align: right;
  float: right;
}

div#checkout_page form{
  clear:both; 
  float: right; 
  width: 100%;  
  margin-top: 5%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;   
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

div#checkout_page #booking_details{
  clear:both;
  display: block;
  width:99%;
  text-align: center;
}

div#checkout_page #booking_details p.pfield-wrapper input {
  width:155px;
}

div#checkout_page #booking_details p.pfield-wrapper::after {
  content:"\00a0\00a0 ";   
}


div#checkout_page #booking_details select{
  padding-top: 2px;
  padding-bottom: 2px;
}

div#checkout_page #card_errors{
  margin-top: 2%;
  width: 49%;   
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
}

#card_errors ul{
  list-style-type: none;
}

div#checkout_page #card_form{
  margin-top: 2%;
  width:49%;
  display: inline-block;
  box-sizing: border-box;
}

div#checkout_page #card_form input[type="text"]{
  width: 170px;
  border: 1px solid #192231;
  color: #000;
  padding: 3px 0 3px 0;
  margin-top: 4px;
}

div#checkout_page #card_form select{
  width: 174px;
  border: 1px solid #192231;
  color: #000;
  padding: 3px 0 3px 0;
  margin-top: 2px;
}

/* ********************** Appointment_placed in desktop view ****************** */

div#placed_container{
  width:90%;
  margin-left: 5%;
  margin-top: 5%;
  
  box-sizing: border-box;
}

div#placed_container table{
  width:100%;
  text-align: right;
  box-sizing: border-box;
}

div#placed_container table th{
  font-size: 1.2em;
}

div#placed_container table td{
  font-size: 1em;
}

div#placed_container table#booked_cost{
  width:40%;
  box-sizing: border-box;
  text-align: right;
  float: right;
}

/* ********************** Appointment History in desktop view ***************** */

#history_container{
  width:90%;
  margin-left: 5%;
  margin-top: 5%;
}

div#history_container table{
  margin-top: 2%;
  width:100%;
  text-align: right;
  box-sizing: border-box;
}

div#history_container table th{
  font-size: 1.2em;
}

div#history_container table td{
  font-size: 1em;
}

/* ********************** Services History in desktop view ******************** */
#service_history_container{
  width:90%;
  margin-left: 5%;
  margin-top: 5%;
}

div#service_history_container table{
  margin-top: 2%;
  width:100%;
  text-align: right;
  box-sizing: border-box;
}

div#service_history_container table th{
  font-size: 1.2em;
}

div#service_history_container table td{
  font-size: 1em;
}

div#service_history_container table#booked_cost{
  width:40%;
  box-sizing: border-box;
  text-align: right;
  float: right;
}

/* ********************** Specials Page in desktop view *********************** */

/* Specials page CSS code for main div */
#special_services{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;   
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 88%;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 50px;   
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 20px;  
  border: 6px groove #626E60;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
  border-radius: 10px;
  background-color: #CCCBC6;
}

/* Specials page CSS code for all div inside the main div */
#courses, #courses_image, 
#seminars, #seminars_image, 
#services_home, #services_home_image, 
#products, #products_image{ 
  border: 2px solid #fff;
  background: linear-gradient(#ccc, #fff);
  opacity: 0.9;  
  float: left;
  font-weight: 500;  
  width: 23%;   
  box-sizing: border-box;
}

/* Specials page CSS code for designing the corner div with id courses */
#courses{
  border-radius: 10px 0 0 0;
  margin-left:15px;
}

/* Specials page CSS code for designing the corner div with id seminars_image */
#seminars_image{
  border-radius: 0 10px 0 0;
}

/* Specials page CSS code for designing the corner div with id services_home_page */
#services_home_image{
  border-radius: 0 0 0 10px;
  margin-left:15px;
}

/* Specials page CSS code for designing the corner div with id products */
#products{
  border-radius: 0 0 10px 0;
}

/* Specials page CSS code for giving padding to the divs with text content */
#courses, #services_home, #seminars, #products{
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

/* Specials page CSS code for giving padding to the divs with images */
#courses_image, #seminars_image, #services_home_image, #products_image{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;  
}

/* Specials page CSS code for giving reponsive effect to the images */
#special_services a img.responsive{
  width: 100%;
  height: auto;
}

/* Specials page CSS code for giving padding to the anchor tags with text content */
#courses a, #seminars a, #services_home a, #products a{
  display: block;
  padding-top: 22px;
  text-decoration: none;
  color: #AF473C;
  font-weight: 400;  
  transition: all .3s ease-in-out;
}

/* Specials page CSS code for giving scale effect to the anchor tags with text content */
#courses a:hover, #seminars a:hover, #services_home a:hover, #products a:hover{
  text-decoration: underline;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  font-weight: 500;
}

/* ********************** Courses Page in desktop view *********************** */ 

/* CSS for Courses page main div */
#course_container{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 424px;
  width: 85%; 
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #192231;
  float: left;
  margin-top: 15px;
  margin-left: 70px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;  
}

/* CSS code for formatting Table present on Courses and Seminars and Marks Page */
table{
  width: 80%;        
  border: 6px groove #626E60;     
  margin: 0 auto;
  font-size: 1em;
  background-color: #CCCBC6; 
  margin-top: 0;
  border-spacing: 2px;
  border-collapse: separate;
}

/* Applying CSS to caption of table */
caption{
  background-color: #f8f8f8; 
  border: 6px groove #626E60;
  border-bottom: 0 groove rgba(150,05,05,0.9);
}

/* CSS for Courses page that is part of Specials Page. */
caption h2{
  font-size: 1em;
  color: #192231;
}

/* Applying border and padding to cells. Border to table don't give border to cells. */
td, th{
  border: 2px groove #626E60;
  padding: 5px;  
  font-size: 0.8em;  
}

/* Applying CSS to particular data of the table */
td.courselist{
  padding-left: 50px;
  text-align: left;
}

/* Applying CSS to rows of the table when the row is hovered with mouse pointer */
.seminar_row:hover{  
  background-color: #f8f8f8;
  cursor: default;    
}

/* ********************** Seminars Page in desktop view *********************** */

/* seminar page CSS code for main container div */
#seminar_container{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 424px;
  width: 85%; 
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #192231;
  float: left;
  margin-top: 15px;
  margin-left: 70px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;  
}

/* ********************** Services at Home Page in desktop view *********************** */

/* Services @ Home CSS code for main container div. It is a part of Specials page */
#salon_services_home{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column; 
  -webkit-flex-direction: column;
  flex-direction: column;
  float: left;
  margin-left: 95px;
  margin-top: 15px;
  width: 80%;
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #192231; 
  box-sizing: border-box;
  border: 6px groove #626E60;
}

/* CSS for all div inside the main container of Services @ Home page. */
#salon_services_home div{  
  min-height: 60px;   
  opacity: 0.95;  
  box-sizing: border-box;  
  margin: 0;
  text-align: left;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;  
  border: 1px solid #626E60;
}

/* ********************** Products Page in desktop view *********************** */

/* products page CSS code for main container div. It is a part of Specials page */
#product_container{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 424px;
  width: 85%; 
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #192231;
  float: left;
  margin-top: 15px;
  margin-left: 70px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;
  border: 6px groove #626E60;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
  position: relative;
}

/* ********************** About Us Page in desktop view *********************** */

/* About Us Page CSS code for main container div. */
#aboutus{  
  min-height: 400px;
  width: 90%; 
  font-family: 'Times New Roman', serif;  
  font-size: 1.2em;
  color: #192231;
  float: left;
  margin-top: 15px;
  margin-left: 50px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;
  padding-top: 10px;
  border: 6px groove #626E60;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
}

/* CSS code for the paragraph, that is containing the content of About Us. */
#aboutus p{
  margin-top: 35px;
  margin-bottom: 0;
  text-align: justify;
  padding: 5px 35px 0 35px;
  box-sizing: border-box;
}

/* ********************** Contact Us Page in desktop view *********************** */
h3{
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}

#salonaddress{   
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  float:left;
  margin-top: 40px;
  margin-left: 100px;
  color: #aa0909;
  font-size: 1.2em;
}

/* Contact Page CSS code for main container div */
#contactus_container{
  min-height: 424px;
  width: 90%; 
  font-family: 'Times New Roman', serif;
  font-weight: 700;  
  color: #192231;
  float: left;
  margin-top: 5px;
  margin-left: 50px;      
  box-sizing: border-box;    
}

/* Contact Page CSS code for heading 2 */
#contactus_container h2{
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.4em;
}

/* Contact Page CSS code for fieldset of form */
#contact_form fieldset{
  /*background-color: #D1D06E;  */
  border: 2px groove #626E60;  
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 5px;
}

/* Contact Page CSS code for legend of form */
#contact_form legend{    
  color: #192231;
  padding: 8px;
  border: 2px groove #626E60; 
  width: 125px;   
  background-color: #f8f8f8;
  border-radius: 10px;  
  font-size: 1.1em;
}

/* Contact Page CSS code for all labels of form */
#contact_form label.info{
  display: block;
  width: 260px;
  clear: both;
  float: left; 
  margin-right: 10px;
  margin-left: 120px;
  text-align: right;
  font-size: 1.1em;
}

/* Contact Page CSS code for all input types of form */
#contact_form input[type="text"], 
#contact_form input[type="tel"], 
#contact_form input[type="date"], 
#contact_form input[type="email"]{
  width: 250px;
  background-color: #eed;        
  border: 2px groove #626E60; 
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  color: #660505;
  font-family: 'Alegreya+Sans', sans-serif;
}

/* Contact Page CSS code for dropdown select of form */
#contact_form select#contact_time{
  width: 264px;
  background-color: #eed;        
  border: 2px groove #626E60; 
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  color: #192231;
  font-family: 'Alegreya+Sans', sans-serif;
}

/* Contact Page CSS code for textarea element of form */
#contact_form textarea{
  width: 258px;
  margin-left: 10px;
  margin-right: 10px;
  color: #192231;
  border: 2px groove #626E60;
  font-family: 'Alegreya+Sans', sans-serif;
  font-weight: 400;
}

/* Contact Page CSS code for buttons of submit and reset of form */
#contactus_container input[type="submit"], #contactus_container input[type="reset"]{
  padding: 10px;
  display: inline-block;
  width: 100px;
  background-color: #f8f8f8;
  color: #192231;
  border: 2px groove #626E60; 
  border-radius: 10px;  
  float: left;
  margin-left: 320px;  
  font-family: 'Alegreya+Sans', sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

/* Contact Page CSS code for button of reset of form */
#contactus_container input[type="reset"]{
  margin-left: 10px;
}

/* Contact Page CSS code for hover on buttons of form */
#contactus_container input[type="submit"]:hover, #contactus_container input[type="reset"]:hover{
  background-color: #EAC67A;  
}

/* ********************** User Registration Form in desktop view ********************* */
.errors{
  color: #900; 
  width: 80%;
  box-sizing: border-box;
}

div.errors li{    
    
  padding-left:10px;
  box-sizing: border-box;
}
/* User Registration Page CSS code for main container div */
#user_registration_container{
  min-height: 424px;
  width: 95%; 
  font-family: 'Times New Roman', serif;
  font-weight: 700;  
  color: #192231;
  float: left;
  margin-top: 5px;
  margin-left: 4%;      
  box-sizing: border-box;  
  text-align: left;   
}

/* User Registration Page CSS code for heading 2 */
#user_registration_container h2{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.4em;
}

#user_registration_container form{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;   
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;  
  width: 99%;
}

/* User Registration Page CSS code for fieldset of form */
#user_registration_form fieldset{
  /*background-color: #D1D06E;  */
  border: 2px groove #626E60;  
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 5px;  
  width: 99%;
}

#user_registration_form #register_field{  
  width:99%;
  box-sizing: border-box;
  
}
#user_registration_form #register_error{  
  width: 99%;
  box-sizing: border-box;
}

/* User Registration Page CSS code for legend of form */
#user_registration_form legend{    
  color: #192231;
  padding: 8px;
  border: 2px groove #626E60; 
  width: 115px;   
  background-color: #f8f8f8;
  border-radius: 10px;  
  font-size: 1.1em;
  box-sizing: border-box;
}

/* User Registration Page CSS code for all labels of form */
#user_registration_form #register_field label.info1{  
  float:left;
  width: 150px;      
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right; 
  box-sizing: border-box;
}

#user_registration_form #register_field label.info2{ 
  float:left;
  width: 150px;      
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;  
  text-align: right;  
  box-sizing: border-box;
}

/* User Registration Page CSS code for all input types of form */
#user_registration_form input[type="text"], 
#user_registration_form input[type="password"],
#user_registration_form input[type="tel"], 
#user_registration_form input[type="email"]{    
  width: 190px;
  background-color: #eed;        
  border: 2px groove #626E60; 
  padding: 6px;  
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #192231;
  font-family: 'Alegreya+Sans', sans-serif;
  box-sizing: border-box;
  float: left;
}

#user_registration_form #register_field .info3{ 
  width: 190px; 
  margin-left: 5px;
}

#user_registration_form #register_field .info4{  
  width: 190px; 
  margin-left: 5px;
}

/* User Registration Page CSS code for buttons of submit and reset of form */
#user_registration_container input[type="submit"], #user_registration_container input[type="reset"]{
  padding: 10px;
  display: inline-block;
  width: 100px;
  background-color: #f8f8f8;
  color: #192231;
  border: 2px groove #626E60; 
  border-radius: 10px;  
  float: left;
  margin-left: 300px;  
  font-family: 'Alegreya+Sans', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

/* User Registration Page CSS code for button of reset of form */
#user_registration_container input[type="reset"]{
  margin-left: 10px;
}

/* User Registration Page CSS code for hover on buttons of form */
#user_registration_container input[type="submit"]:hover, 
#user_registration_container input[type="reset"]:hover{
  background-color: #EAC67A;  
}

.emailhelp{
  float: left;
  margin-left: 1px;

}

.phonehelp{
  margin-left: 1px;
  float: left;
}

.postalhelp{
  margin-left: 1px;
  float: left;
}

.pwdhelp{
  margin-left: 1px;
  float: left;
}

/* ****************** User Success / Profile Page in Desktop View ***************** */
/* User Success Page CSS code for main container div */
#user_success_container{
  display: block;
  min-height: 424px;
  width: 85%; 
  font-family: 'Times New Roman', serif;
  font-weight: 700;  
  color: #192231;
  float: right;
  margin-top: 10px;
  margin-right: 70px;
  box-sizing: border-box;    
}

/* User Success Page CSS code for heading 2 */
#user_success_container h2{
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 60px;
  text-align: center;
  font-size: 1.4em;
}

#user_success_container table{

}

/* ********************** Login Page in Desktop view ************************* */
/*class for flash message content*/
.flash {
    padding:10px;
    text-align: center;
    font-weight: bold;
}

/* class for flash message when it is a success*/
.flash.success {
    border:1px solid #1b770d;
    color: #1b770d;
    background-color: #f8f8f8;
}

/* class for flash message when it is an error*/
.flash.error {
    border:1px solid #900;
    color:#900;
    background-color: #9cc;
}

/* Login Page CSS code for main container div */
#login_container{
  min-height: 424px;
  width: 45%; 
  font-family: 'Times New Roman', serif;
  font-weight: 700;  
  color: #192231;
  float: left;
  margin-top: 45px;
  margin-left: 130px; 
  box-sizing: border-box;    
}

/* Login Page CSS code for heading 2 */
#login_container h2{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.4em;
}

/* Login Page CSS code for fieldset of form */
#login_form fieldset{
  /*background-color: #D1D06E;  */
  border: 2px groove #626E60;  
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* Login Page CSS code for legend of form */
#login_form legend{    
  color: #192231;
  padding: 8px;
  border: 2px groove #626E60; 
  width: 125px;   
  background-color: #f8f8f8;
  border-radius: 10px;  
  font-size: 1.1em;
  box-sizing: border-box;
}

/* Login Page CSS code for all labels of form */
#login_form label.info{  
  float:left;
  width: 110px;      
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: right; 
  box-sizing: border-box; 
}

/* Login Page CSS code for all input types of form */
#login_form input[type="password"],
#login_form input[type="email"]{  
  float:left;
  width: 200px;
  background-color: #eed;        
  border: 2px groove #626E60; 
  padding: 6px; 
  margin-top: 20px; 
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #192231;
  font-family: 'Alegreya+Sans', sans-serif;
  box-sizing: border-box;
}

/* Login Page CSS code for buttons of submit and reset of form */
#login_container input[type="submit"], 
#login_container input[type="reset"]{
  padding: 10px;
  display: inline-block;
  width: 100px;
  background-color: #f8f8f8;
  color: #192231;
  border: 2px groove #626E60; 
  border-radius: 10px;  
  float: left;
  margin-left: 120px;  
  font-family: 'Alegreya+Sans', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

/* Login Page CSS code for button of reset of form */
#login_container input[type="reset"]{
  margin-left: 10px;
}

/* Login Page CSS code for hover on buttons of form */
#login_container input[type="submit"]:hover, 
#login_container input[type="reset"]:hover{
  background-color: #EAC67A;  
}
/* ********************** Marking Page in desktop view *********************** */

/* Marking Page CSS code for main container div */
#mark_container{
  min-height: 424px;
  width: 95%; 
  font-family: 'Times New Roman', serif;
  font-weight: 700;  
  color: #192231;
  float: left;
  margin-top: 15px;
  margin-left: 20px;      
  box-sizing: border-box;
  font-size: 1.3em;
}

/* Marking Page CSS code for particular column having content description of table */
.markslist{
  padding-left: 20px;
  text-align: left;
}

/* Marking Page CSS code for hover on rows of contents of table */
.marksrow:hover{  
  background-color: #f8f8f8;
  cursor: default;     
  transition: all .5s ease-in-out;
}

/* Marking Page CSS code anchor elements of table */
tr.marksrow td a{
  text-decoration: none;
  color: #000;  
}

/* Marking Page CSS code for hover on anchor tags on table */
tr.marksrow td a:hover{
  text-decoration: underline;
  color: #b00;
}

/* Marking Page CSS code for hover on cells with content in table */
tr.marksrow td:hover{    
  -webkit-animation: mark_animation 2s ease-in-out alternate;
  animation: mark_animation 2s ease-in-out alternate;
}

/* ********************** footer in desktop view *********************** */

/* CSS code for footer element of the page */
footer{
  /*position: absolute;
  top: 847px;
  left: 3px;*/
  height: 100px;  
  padding-top: 1px;  
  box-sizing: border-box;
  width: 99.5%;
  background-color: #626E60;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  box-shadow: 0px 3px 6px -6px #f8f8f8;
}

/*CSS code for footer navigation list on footer element of the page*/
footer ul#footer_navigation{  
  display: inline-block;
  position: absolute;
  left: 28%;
  text-align: center;
  vertical-align: bottom;         
}

.not_services{
  top:847px;
}
/*CSS code for footer navigation list items on footer element of the page*/
footer ul li{
  display: inline-block;
  padding: 10px 20px 10px 20px;   
}

/*CSS code for anchor tags of footer navigation on footer element of the page*/
footer ul li a{
  text-decoration: none;
  color: #f8f8f8; 
  font-weight: 400;
  font-size: 0.9em;
  font-weight: 500;
  padding: 5px 15px 0 15px;   
}

/*CSS code for hover on anchor tags of footer navigation on footer element of the page*/
footer ul li a:hover{
  text-decoration: underline;
  color: #000;
}

/*CSS code for footer site_details div having copyright and last modified details of the website*/
footer #site_details{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;  
  -webkit-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  /*position: absolute;
  top: 70%;
  left: 33%;*/ 
  position: absolute;
  left: 32%;    
  font-size: 0.9em; 
  color: #f8f8f8;
}

/*CSS code for divs of copyright and last modified details on footer element*/
footer #copy_right #last_modified{  
  float: left;      
}

/*Media queries for the viewport having width more than 960 pixels and are on screen*/
@media screen and (min-width: 960px){
  
  body{
    
  }
  
  /* main wrapper div */
  #page_content{
    max-width: 100%;        

  }

  header div#search_cart_mobile{
    display: none;
  }
    
  section{
    
  }
  /* nav for mobile view */
  nav#mobilenav{
    display: none;
  }
  
  /* a for mobile view */
  a#formobile{
    display: none;
  } 
 
  /* a for desktop view */
  a#fordesktop{
    visibility: visible;       
  } 
  
  /*header content*/  
  header #head_msg{
    visibility: visible;
  }

  header div#login_div{
    visibility: visible;
  }

  /* footer message for salon timings */
  footer #displaymsg3{
    display: none;
  }
}  

/* Media queries for the viewport having width between 768 pixels to 960 pixels and are on screen */
@media screen and (min-width:769px) and (max-width:960px){
  body{
    background-color: #f8f8f8;
  }
  
  /* main wrapper div of web page */
  #page_content{
    width: 100%;    
  }  
  
  /* header content */
  header div#head_msg{
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    visibility: visible;    
    font-size: 0.8em;
    float: right;
    margin-right: -95px;
    margin-top: 85px;
  }

  header div#login_div{
    font-size: 0.8em;
    visibility: visible;
  }
  
  header div#search_cart_mobile{
    display: none;
  }

  /* nav for mobile view */
  nav#mobilenav{
    display: none;
  }
  
  /* nav for desktop view */
  nav#desktopnav{
    font-size: 0.9em; 
    height: 33px;
  } 
  
  /* ul under li of main ordered list */
  nav ul#main_navigation li.sub_menu ul#sub_list{
    top: 29px;
  }
  
  /* anchor tag of mobile view */
  a#formobile{
    display: none;
  }  
  
  /* image over background image */
  #home_pic img{
    right: 15px;
  }
  
  /* h2 over background image */
  #home_pic h2{
    font-size: 0.9em; 
    padding: 0;
    margin: 0;
  }
  
  /* a inside h2 over background image */
  a#fordesktop{
    visibility: visible;
    padding: 5px 0 0 0;
    margin-bottom: 0;
    width: 180px;
    height: 30px;
    right: 30px;
  }  
  
  /* Services page. */
  #salon_services div{
    width: 25%;
    font-size: 0.8em;
  }
  
  /* Courses page. */
  #course_container{
    width: 100%;
    margin-left: 30px;
    font-size: 1.2em;
  }
  
  /* Seminar page. */
  #seminar_container{
    width: 100%;
    margin-left: 30px;
    font-size: 1.2em;
  }
  
  /* Salon Services at home page. */
  #salon_services_home{
    width: 90%;
    margin-left: 30px;
    font-size: 1.1em;
  }
  
  /* Products page */
  #product_container{
    font-size: 1.1em;
  }
  
  /* About Us page. */
  #aboutus{    
    font-size: 1em;
  }
  
  /* Contact form labels */
  #contact_form label.info{
    margin-left: 20px;
  }
  
  #salonaddress{   
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    float:left;
    margin-top: 30px;
    margin-left: 40px;
    color: #aa0909;
  }
  
  /* Marking page. */
  #mark_container{
    font-size: 1.2em;
    width: 98%;
    margin-left: 10px;
  }
  
  /* floating footer ul for proper positioning */
  footer ul{
    float: left;
    margin-left: 90px;
    margin-top: 10px;
  }
  
  /* giving padding in between list items */
  footer ul li{
    padding: 5px;
  }
  
  /* footer having divs of copyright and last modified details */  
  footer #site_details{
    float: left;
    margin-left: 120px;
    margin-top: 0;
    font-size: 0.9em;
  }
  
  /* footer div having content of salon timings */
  footer div#displaymsg3{
    display: none;
  }
}

/* ****************** Media queries for the ipad and are on screen ***************** */
@media screen and (width:768px){
  
  /* main wrapper div */
  #page_content{
    width: auto;    
  }  
  
  /* header content */
  header #head_msg{
    display: none;
  }  

  header div#login_div{
    font-size: 0.8em;
    visibility: visible;
  }

  header div#search_cart_mobile{
    display: none;
  }
    
  /* nav for mobile view */
  nav#mobilenav{
    display: none;
  } 
  
  /* nav for desktop view */
  nav#desktopnav{
    font-size: 0.7em;
    height: 30px;
  }
    
  /* anchor tag of mobile view */
  a#formobile{
    display: none;
  }  
  
  /* image on background image */
  #home_pic img{
    right: 15px;
  }
  
  /* h2 on background image */
  #home_pic h2{
    font-size: 0.9em; 
    padding: 0;
    margin: 0;
  }
  
  /* anchor tag inside h2 on desktop view on background image */
  a#fordesktop{
    visibility: visible;
    padding: 5px 0 0 0;
    margin-bottom: 0;
    width: 180px;
    height: 30px;
    right: 30px;
  }
  
  /* Services page. */
  #salon_services{
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 30px;  
    float: left;
    width: 90%;  
    font-size: 0.9rem;
    color: #660505;  
  }
  
  /* Services page all div under main div. */
  #salon_services div#facial, 
  #salon_services div#waxing,
  #salon_services div#hairstyling,
  #salon_services div#threading,
  #salon_services div#makeup,
  #salon_services div#skincare{
    border: 2px solid rgba(150,05,05,0.9);  
    border-radius: 2px;
    height: auto;  
    opacity: 0.95;  
    box-sizing: border-box;  
    margin: 0;  
    width: 50%;
    -webkit-transform: rotateY(0deg) skewY(0deg);
    transform: rotateY(0deg) skewY(0deg);
  }

  /* Services page ul under all sub divs */
  #salon_services div ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 22px;
  }

  /* Services page. first list item of sub div */
  #salon_services div ul li:first-child{
    list-style-type: none;
  }
  
  /* contact page. */
  #contact_form label.info{
    width: 200px;
    margin-left: 20px;
  }
  
  input[type="submit"], input[type="reset"]{
    margin-left: 420px;
  }
  
  input[type="reset"]{
    margin-left: 10px;
  }
  
  #salonaddress{   
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    float:left;
    margin-top: 30px;
    margin-left: 40px;
    color: #aa0909;
  }
  
  /* Marking page. */
  #mark_container{
    width: 100%;
    margin-left: 10px;
    font-size: 1.2em;
  }
  
  /* footer */
  footer{
    height: 120px;
  }
  
  /* floating message on footer */
  footer #displaymsg3{
    display: block;
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    visibility: visible;
    font-size: 0.9em;  
    color: #000;   
    float: left;
    margin-left: 230px;
    margin-bottom: 0;
  }
  
  /* floating ul on footer */
  footer ul{
    float: left;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  /* floating anchor tag on li of ul on footer */
  footer ul li a{
    margin-top: 0;
    padding-top: 0;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0;
  }
  
  /* floating div of copyright and last modified on footer */
  footer #site_details{
    float: left;
    margin-left: 100px;
    margin-top: 0;
    font-size: 0.9em;
  }  
}

/*Media queries for IE10 and IE11 and are on screen*/
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {		
  
  /* for removing the space below in IE10*/
  #home_pic{
    padding-bottom: 1px;
  }  
  
  /*setting required for IE10*/
  header{
    background-color: #D1D06B;
  }
  
  /*setting required for IE 10*/
  header img#logo{ 
    width: 87%;
    height: 87%;
    border: 2px solid #D1D06B;
  }
  
  /*for IE10*/
  header a.social_mlinks img{           
    padding-right: 5px;  
    border: 2px solid #D1D06E;
  }
  
  /* about us page for IE */
  #aboutus p{       
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;    
    margin-top: 0;    
  }
}  
